*{
  margin: 0;
  padding: 0;
  color: white;
}
.App{
  background-color: rgb(25, 25, 25);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header{
  height:8vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap:10px;
  background-color: rgba(255, 255, 255, 0.087);
}
ul , ol{
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap:30px;
}
.main{
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(23, 23, 23);
}
.foot{
  height: 2cqh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.087);
}
